snippet fn
fn $1($2) -> $3 {
	$0
}
endsnippet

snippet pfn 
pub fn $1($2) -> $3 {
	$0
}
endsnippet

snippet afn 
async fn $1($2) -> $3 {
	$0
}
endsnippet

snippet struct 
struct $1 {
	$0
}
endsnippet

snippet enum 
enum $1 {
	$0
}
endsnippet

snippet impl 
impl $1 {
	$0
}
endsnippet

snippet trait 
trait $1 {
	$0
}
endsnippet

snippet result 
Result<$1, $2>$0
endsnippet

snippet derive
#[derive($1)]$0
endsnippet

snippet println 
println!($1);$0
endsnippet
