snippet pst
pub struct $1 {
	$0
}
endsnippet  

snippet gpst 
pub struct $1<$2> {
	$0
}
endsnippet 

snippet impl
impl $1 {
	$0
}
endsnippet 

snippet gimpl 
impl<$1> $2<$1> {
	$0
}
endsnippet 

snippet timpl 
impl $1 for $2 {
	$0
}
endsnippet 

snippet gtimpl 
impl<$1> $2 for $3<$1> {
	$0
}
endsnippet 
